language: php

php:
  - 5.4

before_script:
  - composer self-update
  - composer install

script:
  - find ./app -name "*.php" -exec php -l {} \;
  - ./bin/phpcs --extensions=php --standard=./ruleset.xml ./app